html{
  background-color: #3D3B8E;
}
body{
  text-align: right;
font-family:Arial, Helvetica, sans-serif;
}
h1 {
  color: #F79F79;
}
p {
  color: #F7D08A;
  margin-bottom: 1.5em;
}
a{
  color: #E3F09B;
}

div{

  margin-right: 10%;
  margin-top: 30%;
 
}

